body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;

}


header{
    width: 100%;
    height: 70px;
    background-color: rgb(180, 183, 183);
    display:flex;
    align-items: center;
    text-align: center;

}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    justify-items: center;
}
.menu_header{
    justify-content: space-between;
}
.menu_header a{
    color: rgb(240, 239, 239);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin: auto 10px;
    box-sizing: border-box;
    
    padding: 5px;
    background-color: rgba(55, 54, 54, 0.656);
    
}
.menu_header a:hover{
    background-color: rgb(193, 196, 196);
    padding: 5px;
    box-sizing: border-box;
    color: rgb(35, 35, 35);
}
.contacts{
    background-color: rgba(55, 54, 54, 0.656);
    
    box-sizing: border-box;
}
.cont_text{
    font-size: 18px;
    font-weight: 600;
    color: rgb(240, 239, 239);
    padding: 10px;
}




.add_sotrudniki{
    max-width: 490px;
}
.search_sotrudniki{
    max-width: 490px;
}
.headling h1{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;

}
.undo_headling{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;   
    margin: 24px 0;
}
.headling_search{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 24px 0;
}
.text-field__input{
    width: 488px;
    height: 40px;
    background: #FFFDFD;
    border: 1px solid #8F8C8C;
    border-radius: 0px;
    padding: 20px;
    box-sizing: border-box;
}
.text-field__input input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
    flex: none;
    order: 0;
    flex-grow: 0;
   
}
.text-field__btn{
    width: 235px;
    height: 40px;
    background: #FFFDFD;
    border: 1px solid #000000;
    border-radius: 0px;    
}
.text-field__btn:hover{
    background-color: #D9D9D9;
}
.text-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.btn_add{
    display: flex;
    justify-content: space-between;
}
.btn_search{
    display: flex;
    justify-content: space-between;
}


.table_class{
    margin-top: 25px;
}
table{
    width: 488px;
    text-align: center;
    border: 1px solid #eee;
	table-layout: fixed;
	margin-bottom: 20px;
    
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefefae;
	border: 1px solid #dddddd;
}
table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}